In [1]:
print('hello world')

hello world

In [3]:
import pandas as pd
from skLearn.tree import DecisionTreeClassifier

data = pd.read_csv('music.csv')
data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [5]:
data.shape

(18, 3)

In [7]:
data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [40]:
X = data.drop(columns = ['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [17]:
y = data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [120]:
#importing packages
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#read the data with panda
data = pd.read_csv('music.csv')

#assign all columns except genre to the X variable
X = data.drop(columns=['genre'])

#assign the genre column to the y
y = data['genre']

#assign 20% of the data for testing
#first 2 variables are input for training and testing
#last 2 variables are output for training and testing
#80% for training the data, 20% for testing the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#assign the decision  class to the model to be able to use for prediction
model = DecisionTreeClassifier()

#model.fit, grab the values of the X so it doesn’t give you a warning
# model.fit(X.values, y)
model.fit(X_train, y_train)

print(f" X test data are {X_test}")
print(f" y test data are {y_test}")

#make predictions with a few sample data of a male in his 30 and a woman in her 40 and the kind of music they will listen to
# predictions = model.predict([ [30, 1], [40, 0] ])
predictions = model.predict(X_test)

#predictions based on the data provided
predictions

score = accuracy_score(y_test, predictions)
score

 X test data are     age  gender
10   21       0
11   25       0
8    37       1
0    20       1
 y test data are 10        Dance
11        Dance
8     Classical
0        HipHop
Name: genre, dtype: object

0.75

In [132]:
#importing packages
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

#read the data with panda
# data = pd.read_csv('music.csv')

# #assign all columns except genre to the X variable
# X = data.drop(columns=['genre'])

# #assign the genre column to the y
# y = data['genre']

# #assign the decision  class to the model to be able to use for prediction
# model = DecisionTreeClassifier()

# #model.fit, grab the values of the X so it doesn’t give you a warning
# model.fit(X.values, y)

#save your model in a file
# joblib.dump(model, 'music_recommender.joblib')

#load the data that has been dumped and use for predictions
model = joblib.load('music_recommender.joblib')

predictions = model.predict([ [28, 0] ])

predictions

array(['Acoustic'], dtype=object)

In [138]:
#importing packages
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

#read the data with panda
data = pd.read_csv('music.csv')

#assign all columns except genre to the X variable
X = data.drop(columns=['genre'])

#assign the genre column to the y
y = data['genre']

#assign the decision  class to the model to be able to use for prediction
model = DecisionTreeClassifier()

#model.fit, grab the values of the X so it doesn’t give you a warning
model.fit(X.values, y)

tree.export_graphviz(model, out_file = 'music_recommender.dot',
                    feature_names= ['age', 'gender'],
                    class_names =  sorted(y.unique()),
                    label = 'all',
                     rounded = True,
                     filled = True)